<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_info.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header>
        <div class="home">
            <a class="home" href="homepage"><i class="fa fa-home" style="font-size:30px;"></i></a>
        </div>

        <div class="nav">
            <a href="menu">☰</a>
            <a href="aboutus">👥</a>
            <a class="navigation" href="chart">📈</a>
        </div>
    </header>

    <div class="content">
        <h2 style="justify-content: center;">About:</h2>
        <p class="intro">Welcome to our food vlog Hakunamatata! Here, you will find all the latest updates on our food
            adventures. Follow along as we explore new cuisines, taste-test popular dishes, and share our favorite
            culinary creations. Whether you're a foodie looking for inspiration or simply someone who loves to eat,
            we've got you covered. Join us on this tasty journey and let's discover the world of food together!</p>
    </div>

    <div>
        <h2>Highlighted Features:</h2>
        <p class="intro">
            After successful login, the homepage welcomes with the username, provide better user experience <a
                href="/">👤</a>
            <br>
            Keyframes are used to create an animation that gradually transitions the color of the logo
            frame from one color to another. <span id="logo">Hakunamatata</span>
            <br>
            Hovering makes the webpage more interactive and engaging, by highlighting the content when placed the cursor
            <span id="hover">Hover over me</span>
            <br>
            Search bar in Menu ☰ is used to search for specific cuisine which makes it easy to gothrough the menu
            quickly <a href="menu">☰</a>
            <br>
            Chart is used to draw statistical Analysis of cuisines available by categories using a pie chart<a
                href="chart">📈</a>
            <br>
        </p>
        </p>
    </div>

    <div>
        <h2>Scope:</h2>
        <p class="intro">In the future, designers can use Flask to enhance the functionality and user experience of a
            simple HTML-based food blog. By integrating these technologies, the blog can become more
            dynamic, interactive, and secure, offering users a more engaging and immersive culinary experience.</p>
    </div>

</body>

</html>